.app-page {
    background-color: #FAFCFF;
}

.wrapper {
    display: flex;
}

.side-bar {
    background: #fff;
    box-shadow: 4px 0px 24px rgba(0, 118, 214, 0.06);
    width: 250px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .navbar {
        flex-direction: column;
        padding: 0;
        width: 100%;
        padding: 0 8px;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .navbar-collapse {
        flex-grow: unset;
        width: 100%;
    }
    .nav-link {
        color: #000;
        display: flex;
        align-items: center;
        padding: 16px !important;
        border-radius: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        font-weight: 600;
        &.active,
        &:hover {
            background-color: #0076D6;
            color: #fff;
            i {
                color: #304443;
            }
        }
        i {
            color: #AEAFBE;
            margin-right: 16px;
        }
    }
    .sub-menu {
        background-color: #F5F7FB;
        .nav-link {
            padding: 8px 16px 8px 40px !important;
            &:hover {
                background-color: transparent;
                color: #0076D6;
            }
        }
    }
}

.sidebar-logo {
    display: block;
    padding: 24px 40px;
    img {
        height: 40px;
    }
}

.main-content {
    width: 100%;
    .title {
        color: #191B32;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 0;
        margin-bottom: 40px;
    }
}

.page-title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.section-data {
    background-color: #fff;
    padding: 24px;
    table {
        td,
        th {
            vertical-align: middle;
        }
    }
    thead {
        tr {
            background-color: #F3F8FF;
        }
        th {
            border: none;
            color: #000;
            font-weight: 600;
        }
    }
    .filter-wrap,
    .product-add-link {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0076D6;
        border-radius: 4px;
    }
    .product-add-link {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        flex-direction: column;
        color: #fff;
        margin-left: auto;
        &-text {
            font-size: 14px;
        }
    }
    .filter-search {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-bottom: 24px;
        input {
            width: 20%;
        }
    }
    .action-btn {
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        min-width: 5rem;
    }
}

.productimgname {
    .product-name {
        color: #717171;
    }
}

.status {
    background-color: #D1FBE3;
    color: #48724E;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

.active {
    background-color: #D1FBE3;
    color: #48724E;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px; 
}
  
.inactive {
    background-color: #D1FBE3;
    color: #bd3232;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px; 
}

.header {
    background-color: #fff;
    box-shadow: 4px 0px 24px rgba(0, 118, 214, 0.06);
    padding: 12px 0;
    padding-right: 60px;
    margin-bottom: 24px;
    &-content {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

.user-menu .dropdown-toggle {
    display: flex;
    align-items: center;
    color: #05396B;
    img {
        height: 40px;
    }
}

.welcome {
    font-size: 20px;
}

.mobile-menu {
    display: none;
}

.dashboard-details {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(199, 162, 118, 0.15);
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    .img-wrap {
        padding: 24px;
    }
    &-heading {
        background: linear-gradient(73.06deg, #057BDD 0%, #00D8E8 98.7%);
        border-radius: 0 0 4px 4px;
        text-align: center;
        padding: 16px;
        color: #fff;
        &-2 {
            background: linear-gradient(73.06deg, #EF6862 0%, #FCA78A 98.7%);
        }
        &-3 {
            background: linear-gradient(252.39deg, #2BC972 0%, #66F2A8 100%);
        }
        &-4 {
            background: linear-gradient(73.06deg, #7F70F0 0%, #C096FA 98.7%);
        }
        &-5 {
            background: linear-gradient(73.06deg, #A61C74 0%, #F1939C 98.7%);
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        &:hover {
            color: #f3f3f3;
            text-decoration: none;
        }
    }
}

.upload-p,
.add-p {
    background: #FFFFFF;
    border: 1px solid #E8EBED;
    padding: 32px;
}

.upload-details {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 12px;
    .file-delete {
        margin-left: auto;
    }
}

@media only screen and (max-width: 768px) {
    .app-page {
        font-size: 14px;
    }
    .wrapper {
        flex-direction: column;
    }
    .side-bar {
        width: auto;
    }
    .mobile-menu {
        background-color: #fff;
        display: flex;
        padding: 16px;
        margin-bottom: 16px;
        .menu-icon {
            font-size: 14px;
        }
        .navbar {
            padding: 0;
            display: unset;
        }
        .user-img {
            height: 32px;
        }
    }
    .table-wrap {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-wrap::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .table-wrap::-webkit-scrollbar:vertical {
        width: 4px;
    }
    .table-wrap::-webkit-scrollbar:horizontal {
        height: 4px;
    }
    .table-wrap::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: none;
        background-color: #0076D6;
    }
    .table-wrap::-webkit-scrollbar-track {
        background-color: rgba(239, 239, 239, 0.5);
    }
    .section-data {
        padding: 8px;
        table th,
        table td {
            white-space: nowrap;
        }
    }
    .user-menu {
        .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
    .main-content {
        padding: 0;
        width: auto;
    }
    .title {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
    }
}