.app-page {
  background-color: #fafcff;
}

.wrapper {
  display: flex;
}

.side-bar {
  background: #fff;
  box-shadow: 4px 0px 24px rgba(0, 118, 214, 0.06);
  width: 250px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.side-bar .navbar {
  flex-direction: column;
  padding: 0;
  width: 100%;
  padding: 0 8px;
}
.side-bar .navbar-nav {
  flex-direction: column;
  width: 100%;
}
.side-bar .navbar-collapse {
  flex-grow: unset;
  width: 100%;
}
.side-bar .nav-link {
  color: #000;
  display: flex;
  align-items: center;
  padding: 16px !important;
  border-radius: 4px;
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 600;
}
.side-bar .nav-link.active,
.side-bar .nav-link:hover {
  background-color: #0076d6;
  color: #fff;
}
.side-bar .nav-link.active i,
.side-bar .nav-link:hover i {
  color: #304443;
}
.side-bar .nav-link i {
  color: #aeafbe;
  margin-right: 16px;
}
.side-bar .sub-menu {
  background-color: #f5f7fb;
}
.side-bar .sub-menu .nav-link {
  padding: 8px 16px 8px 40px !important;
}
.side-bar .sub-menu .nav-link:hover {
  background-color: transparent;
  color: #0076d6;
}

.sidebar-logo {
  display: block;
  padding: 24px 40px;
}
.sidebar-logo img {
  height: 40px;
}

.main-content {
  width: 100%;
}
.main-content .title {
  color: #191b32;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
  margin-bottom: 40px;
}

.page-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  position: relative;
}

/* .popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
/* background-color: rgba(0, 0, 0, 0.2); */

.section-data {
  background-color: #fff;
  padding: 24px;
}
.section-data table td,
.section-data table th {
  vertical-align: middle;
}
.section-data thead tr {
  background-color: #f3f8ff;
}
.section-data thead th {
  border: none;
  color: #000;
  font-weight: 600;
}
.section-data .filter-wrap,
.section-data .product-add-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0076d6;
  border-radius: 4px;
}
.section-data .product-add-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-direction: column;
  color: #fff;
  margin-left: auto;
}
.section-data .product-add-link-text {
  font-size: 14px;
}
.section-data .filter-search {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
}
.section-data .filter-search input {
  width: 20%;
}
.section-data .action-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.section-data .action-btn:focus {
  outline: 0;
}
.section-data .dropdown-toggle::after {
  display: none;
}
.section-data .dropdown-menu {
  min-width: 5rem;
}

.productimgname .product-name {
  color: #717171;
}

.status {
  background-color: #d1fbe3;
  color: #48724e;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.active {
  background-color: #d1fbe3;
  color: #48724e;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.inactive {
  background-color: #d1fbe3;
  color: #bd3232;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.header {
  background-color: #fff;
  box-shadow: 4px 0px 24px rgba(0, 118, 214, 0.06);
  padding: 12px 0;
  padding-right: 60px;
  margin-bottom: 24px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-menu .dropdown-toggle {
  display: flex;
  align-items: center;
  color: #05396b;
}
.user-menu .dropdown-toggle img {
  height: 40px;
}

.welcome {
  font-size: 20px;
}

.mobile-menu {
  display: none;
}

.dashboard-details {
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(199, 162, 118, 0.15);
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.dashboard-details .img-wrap {
  padding: 24px;
}
.dashboard-details-heading {
  background: linear-gradient(73.06deg, #057bdd 0%, #00d8e8 98.7%);
  border-radius: 0 0 4px 4px;
  text-align: center;
  padding: 16px;
  color: #fff;
}
.dashboard-details-heading-2 {
  background: linear-gradient(73.06deg, #ef6862 0%, #fca78a 98.7%);
}
.dashboard-details-heading-3 {
  background: linear-gradient(252.39deg, #2bc972 0%, #66f2a8 100%);
}
.dashboard-details-heading-4 {
  background: linear-gradient(73.06deg, #7f70f0 0%, #c096fa 98.7%);
}
.dashboard-details-heading-5 {
  background: linear-gradient(73.06deg, #a61c74 0%, #f1939c 98.7%);
}
.dashboard-details-heading h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.dashboard-details-heading:hover {
  color: #f3f3f3;
  text-decoration: none;
}

.upload-p,
.add-p {
  background: #ffffff;
  border: 1px solid #e8ebed;
  padding: 32px;
}

.upload-details {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 12px;
}
.upload-details .file-delete {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .app-page {
    font-size: 14px;
  }

  .wrapper {
    flex-direction: column;
  }

  .side-bar {
    width: auto;
  }

  .mobile-menu {
    background-color: #fff;
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
  }
  .mobile-menu .menu-icon {
    font-size: 14px;
  }
  .mobile-menu .navbar {
    padding: 0;
    display: unset;
  }
  .mobile-menu .user-img {
    height: 32px;
  }

  .table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table-wrap::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .table-wrap::-webkit-scrollbar:vertical {
    width: 4px;
  }

  .table-wrap::-webkit-scrollbar:horizontal {
    height: 4px;
  }

  .table-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background-color: #0076d6;
  }

  .table-wrap::-webkit-scrollbar-track {
    background-color: rgba(239, 239, 239, 0.5);
  }

  .section-data {
    padding: 8px;
  }
  .section-data table th,
  .section-data table td {
    white-space: nowrap;
  }

  .user-menu .dropdown-menu {
    right: 0;
    left: auto;
  }

  .main-content {
    padding: 0;
    width: auto;
  }

  .title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
  }
}

/*# sourceMappingURL=yolo-v.css.map */

.add-popup {
  position: relative;
  height: 100vh;
}

.pop-up-parent {
  /* width: 100%; */
  /* height: 100vh; */
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  background-color: rgba(0, 0, 0, 0.2);
}

.popup-inner {
  position: absolute;
  top: 0;
  padding: 32px;
  width: 100%;
  max-width: 840px;
  border: 1px solid blue;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.button-createsale {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 60px;
}

/* SETTINGS CSS */

.settingComp {
  width: 90%;
  /* height: 100px; */
  margin: 0 auto;
  padding: 30px;
  /* border: 1px solid blue; */
  cursor: pointer;
}

.item {
  width: 190px;
  height: 200px;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}

.item > p {
  font-weight: 700;
}

.settingComp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5rem;
}

.popup-2 {
  position: relative;
}

.popup-2 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.popup-inner-2 {
  position: absolute;
  top: 0;
  padding: 32px;
  width: 100%;
  max-width: 840px;
  border: 1px solid blue;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #fff;
}

.popup-inner-2 .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.updateClose {
  width: 100px;
  color: #0076d6;
  background-color: #e8ebed;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e8ebed;
}

.updateSave {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #0076d6;
}

.button-createsale-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 15px;
}

.input-icons img {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: green;
  /* min-width: 50px; */
  text-align: center;
}

.iconEye {
  top: 30px;
  right: 13px;
  padding: 10px;
  min-width: 50px;
  /* border: 1px solid red; */
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.popup-inner-3 {
  position: absolute;
  border: 1px solid black;
  top: 0;
  padding: 32px;
  width: 100%;
  max-width: 940px;
  border: 1px solid blue;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #fff;
}

.property-list {
  /* margin-top: 40px; */
  margin: 42px;
  border: 1px solid black;
}

.property-lists {
  padding: 17px;
  border: 1px solid red;
}

.list-1 {
  position: absolute;
  right: 100px;
}

.list-2 {
  position: absolute;
  right: 100px;
}

.list-3 {
  position: absolute;
  right: 100px;
}

.list-4 {
  position: absolute;
  right: 100px;
}

.popup-3 {
  position: absolute;
  top: 10px;
  width: 78%;
  height: 100vh;
  background-color: #fff;
}
