.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-add-link-text {
  color: white;
}
.product-add-link {
  cursor: pointer;
}

.upload-box {
  width: 452px;
  border: 1px solid #ced4da;
  border-style: dashed;
  height: 225px;
  background-color: #f5f7fb;
  text-align: center;
  cursor: pointer;
}

.upload-text {
  padding-left: 10px;
  padding-top: 5px;
}
.upload-content {
  top: 20%;
  left: 34%;
  position: absolute;
}

.add-product-button {
  background-color: #0076d6;
  color: white;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 5px;
}
